development: &default
  adapter: mysql2
  encoding: utf8
  database: aws-admin_development
  host: localhost
  username: root
  password: ""

test: &TEST
  <<: *default
  database: aws-admin_test

staging:
  <<: *default
  database: aws-admin

production:
  <<: *default
  database: aws-admin